# Environment Variables
.env

# Build Artifacts
bin/
obj/

# User-specific & IDE Files
.vs/
*.suo
*.user
*.ttf
*.pdb
*.opendb

# Dependency Caches
node_modules/
package-lock.json

# Logs & Temp Files
logs/
*.log
*.tmp
*.swp

# Compiled Output
*.dll
*.exe
*.out
*.class

# Backup Files
*.bak
*.old

# Hidden System Files
.DS_Store
Thumbs.db

# Docker
# Dockerfile